html {
  background-color: darkslategray;
}

.App {
  text-align: center;
  font-family: cursive;
  letter-spacing: .15em;
  text-transform: lowercase;
  font-size: 14px;
  color: whitesmoke;
}

.students {
  border: dotted pink;
  padding:20px;
  margin: 40px;
}

.scores {
  border: dotted lightblue;
  padding:20px;
  margin: 10px 150px;
}